@import url("../resources/pirulen_rg.ttf");
@font-face {
    font-family: "FuentePrincipal";
    src: url("../resources/pirulen_rg.ttf");
}
.animate__animated.animate__bounce {
    --animate-duration: 2s;
  }
  
h1{
    font-family: "FuentePrincipal";
    font-weight: 500;
}
.pagAct{
    color: red;
}
.navbar{
    animation: aparecerNav 1s;
    transition: 0.5s;
    color: white;
    background: linear-gradient(120deg, #8406256a 0%,  #1212126a 100%);
}
@keyframes aparecerNav {
    0%{
        top: -10%;
    }
    100%{
        top:0%;
    }
}
.navbar:hover{
    background: linear-gradient(120deg, #840625dd 0%,  #121212dd 100%);
}
.linkNav{
    transition: width 0.5s
}
.linkNav:hover{
    transition: 0.21s;
    transform: scale(1.1);
}
.inactive{
    position: absolute;
    transform:translate(50%,50%);
    top: 110%;
    right: 20%;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.4s cubic-bezier(0.25, 1, 0.5, 1);
    background-image: linear-gradient(35deg,#b99595,#ecd3d3);

  }
  
  .active {
    z-index: 999;
    max-height: 500px; /* big enough for your links */
    opacity: 1;
    transform: translateY(0);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    
    border-radius: 5px;
    gap: 1rem;
}
.active:hover{
    background-image: linear-gradient(35deg,#8a6767,#b3a1a1);
    
}
.bannerNosotros{
    background-image: linear-gradient(to right bottom, #000, #905252,#00000017);
}
.imgBanner{
    background-image: url("../Imagenes/Escuela.jpg");
    background-position: center;
    background-size: cover;
    height: 600px;
}
.navHeader{
    display: flex;
    flex-flow: row nowrap;
}
.responsiveInactive{
    display: none;
    transform-origin: top;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.4s cubic-bezier(0.25, 1, 0.5, 1);
}
ol{
    color: #3c0000 !important;
}
.closeIcon{
    opacity: 0;
    display: none;
}
.openIcon{
    opacity: 0;
    display: none;
}
.titulos{
    font-family: "FuentePrincipal";
}
@media (max-width:500px) {
    .navHeader{
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        
    }
    .headerNavContainer{
        background-color: #000000b2;
        position: absolute;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        top:0%;
        left:0%;
        transition: 0.5s;
        opacity: 0;
        transform-origin: top;
        transform: scaleY(0);
    }
    .responsiveActive{padding: 4px;
        opacity: 1;
        display: flex;
        transform: scaleY(1);
    }
    .headerNavContainer.openIcon{
        opacity: 1;
        display: flex;
    }
    .navbar{
        display: flex;
        flex-flow: row nowrap;
    }
    .openIcon{
        opacity: 1;
        display: flex;
    }
    .active{
        display: flex;
        background-image: none;
        background-color: #3c0000;
        margin-top: 30px;
        margin-bottom: 30px;
        opacity: 1;
        transform: scaleY(1);
        overflow: visible;
        width: auto;
        height: auto;
    }
    .active:hover{
        background-image: none;
       
        
    }
}
